@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>Home</h1>
        </div>
        @if (User.Identity.IsAuthenticated) {
            <p>You are logged in as @User.Identity.Name.</p>
            <p>See the <a asp-controller="Account" asp-action="Profile">OpenID claims</a>.</p>
        } else {
            <p>You are not logged in.</p>
            <p><a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a></p>
        }
    </div>

</div>
